/* Styling for the primary-search input */
.primarySearch {
    width: 100%;
    height: 40px;
    padding: 8px 36px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
}

/* Placeholder styling */
.primarySearch::placeholder {
    color: #aaa;
}

/* Focus state styling */
.primarySearch:focus {
    border-color: #007bff; /* Change this color to your desired focus color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change the shadow to your desired focus effect */
}
.searchIcon {
    height: auto !important;
    position: relative;
    top: 10px;
    left: 4px; /* Adjust this value to control the icon's horizontal position */
    pointer-events: none; /* This prevents the icon from interfering with input events */
}

.searchButton {
    position: absolute;
    width: 30px;
    height: 30px;

    border: none;
    background-color: transparent;
}

.searchButton:hover {
    cursor: pointer;
}