.formSection {
    display: flex;
    flex-direction: column;
}

.formButton {
    width: 100%;
    margin: 10px 0;
    padding: 8px;

}

.delete {
    background-color: red;
    padding: 8px;
    color: white;
    width: 120px;
}

.delete:hover {
    background-color: #940000;
}

.action {
    background-color: #0082ff;
    padding: 8px;
    color: white;
    width: 100%;
}

.action:hover {
    background-color: #004f96;
}

.questionBlock {
    border: 1px rgb(var(--foreground-rgb)) solid;
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px 0;
}

.examBlock {
    border: 1px rgb(var(--foreground-rgb)) solid;
    border-radius: var(--border-radius);
    padding: 10px;
}


/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

.entryForm {
    min-width: 60%;
}